*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    user-select: none;
}
:root{
    font-size: 16px;
}
#c.dark *{
    color: #ffe767;
}

.bg-yellow-500 {
    background-color: #622c00;
}

#c.dark span.bg-white {
    background-color: #ffe767;
}
